<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form id="signin" name="signin" method="post" action="signin">
  <label for="id">id</label>
  <input class="text" name="id" type="text" />
  <input class="btn" type="submit" value="Sign In" />
</form>

</body>
</html>